{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <style>
        span.disease, span.chemical {
            padding: 5px; /* Espaciado alrededor del texto para mejor visualización */
            border-radius: 3px; /* Bordes redondeados */
            cursor:pointer;
        }
        span.disease {
            background-color: #98FB98; /* Color verde pastel */
        }
        span.chemical {
            background-color: #f881fa; /* Color verde pastel */
        }
        span.NEGATED {
            border-bottom:4px solid #F00;
        }
         /* Estilos adicionales para la leyenda */
         .leyenda {
            background-color: #f8f9fa; /* Fondo gris claro */
            padding: 15px;
            margin: auto; /* Centrado */
            width: 80%; /* Menos anchura */
            text-align: center;
            font-size: 0.85em; /* Texto más pequeño */
            border-radius: 5px; /* Bordes redondeados */
            box-shadow: 0px 0px 10px #ccc; /* Sombra ligera para resaltar */
        }
        .leyenda span {
            width: 30px; /* Ancho fijo para los cuadros de color */
            height: 15px; /* Altura para los cuadros de color */
        }
        .leyenda-item {
            display: inline-block;
            margin-right: 20px; /* Espacio entre los elementos de la leyenda */
        }
    </style>
{% endblock %}

{% block content %}
    <p class="font-weight-bold">
        {%for i in range(0, num_subrayados_lista)%} 
            {% if subrayado_lista[i][1]==None %}
            {{subrayado_lista[i][0]}}
            {%else%}
            <span title="{{subrayado_lista[i][1]}}" class="{{subrayado_lista[i][2]}} {{subrayado_lista[i][3]}}">{{subrayado_lista[i][0]}}</span></td>
            {%endif%}
        {%endfor%}
    </p>
    <!-- Leyenda para los colores -->
    <div class="leyenda mb-3">
        <div>
            <div class="leyenda-item"><span class="disease">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Enfermedad</div>
            <div class="leyenda-item"><span class="chemical">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Químico</div>
            <div class="leyenda-item"><span class="NEGATED">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Negado</div>
        </div>
    </div>
    
    <h2 class="mb-3">Listado de términos encontrados:</h2>
    
    <table class="table table-striped" id="miTabla">
        <thead class="thead-dark">
            <tr>
                <th>Término encontrado</th>
                <th>Término HPO</th>
                <th>Código HPO</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(0, num_listado)%}
            <tr>
                <td>{{listado[i][0]}}</td>
                <td>{{listado[i][1]}}</td>
                {% if listado[i][2] == "--NO MATCH--" %}
                <td>{{listado[i][2]}}</td>
                {%else%}
                <td><a href="https://hpo.jax.org/app/browse/term/{{listado[i][2]}}" target="_blank">{{listado[i][2]}}</a></td>
                {%endif%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary mb-3" id="exportar">Exportar</button>
    
    <h2 class="mb-3">Posibles diagnósticos jerarquizados:</h2>
    
    <table class="table table-striped" id="diseases">
        <thead class="thead-dark">
            <tr>
                <th>Enfermedad</th>
                <th>Puntuación</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(0, num_diseases)%}
            <tr>
                <td>{{disease_hits[i][0]}}</td>
                <td>{{disease_hits[i][2]}}/{{num_listado}}</td>
                <td><a target="_blank" href="https://www.omim.org/entry/{{disease_hits[i][1]}}">{{disease_hits[i][1]}}</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary mb-3" id="export_diseases">Exportar</button>
    <p><a href="/" class="btn btn-outline-dark">INICIO</a></p>
{% endblock %}

{% block scripts %}
    <!-- Scripts de Bootstrap, Popper.js y DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready( function () {
        var table = $('#miTabla').DataTable({
            "pageLength": 25
        });
        var table_diseases = $('#diseases').DataTable({
            "paging": false,
            "order": [[1, "desc"]] // Ordena por la segunda columna (índice 1), en orden decreciente
        });

        $('#exportar').click(function() {
            var uri = 'data:application/csv;charset=UTF-8,' + encodeURIComponent(table.data().toArray().map(row => row.join(',')).join('\n'));
            var downloadLink = document.createElement('a');
            downloadLink.href = uri;
            downloadLink.download = 'data.csv';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        });

        $('#export_diseases').click(function() {
            var uri = 'data:application/csv;charset=UTF-8,' + encodeURIComponent(table_diseases.data().toArray().map(row => row.join('\t')).join('\n'));
            var downloadLink = document.createElement('a');
            downloadLink.href = uri;
            downloadLink.download = 'data.csv';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        });
    } );
    </script>
{% endblock %}
